.Home {
    border: solid 10px tomato;
    width: 300px;
    margin: 40px auto;
    padding-bottom: 15px;
    border-radius: 30px;
}

.Home a {
    color: white;
    text-decoration: none;
}

.Home a:hover {
    color: #ddd;
}

.HomeVending {
    width: 150px;
    background-color: tomato;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
}